.Panel {
	padding: 0;
	position: relative;
}

.Panel > div {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.Panel > div > div {
	position: relative;
	height: 100%;
	width: 100%;
}
