@import 'core.css';

.AceEditor {
	min-height: 400px;
	text-align: left;
	width: 600px;
}

.container {
	height: auto;
}

.checkBox {
	background: white;
	border: inset 2px;
	display: inline-block;
	height: 15px;
	width: 15px;
}

.checkBox[checked='true'] {
	background-color: black;
}

.floating_panel {
	position: absolute;
	background-color: white;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: solid 5px rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	padding: 10px;
}

.floating_panel:active {
	cursor: move;
}

.modal_panel {
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
}

.dataList {
	border: solid black 1px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
}

.dataList :hover {
	background-color: rgb(100, 100, 100);
}

.dataItem {
	color: gray;
	list-style-type: none;
	padding-left: 10%;
	padding-right: 10%;
	text-align: right;
	width: auto;
}

.dataItem :first-child {
	color: black;
	font-weight: bold;
	text-align: left;
}

.dataItem + .dataItem {
	border-top: solid black 1px;
}

.scatterPlot {
	background: white;
	border: solid black 1px;
	cursor: crosshair;
	display: inline-block;
}

.tile {
	display: inline-block;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.VerticalSpan {
	display: inline-block;
	text-align: center;
	width: 1.5em;
}

.VerticalSpan > span {
	display: inline-block;
	-moz-transform: rotate(-90deg) translate(0, 100%);
	-moz-transform-origin: 0% 100%;
	-o-transform: rotate(-90deg) translate(0, 100%);
	-o-transform-origin: 0% 100%;
	-webkit-transform: rotate(-90deg) translate(0, 100%);
	-webkit-transform-origin: 0% 100%;
	transform: rotate(-90deg) translate(0, 100%);
	transform-origin: 0% 100%;
}
